body{
    width: 1152px;
    margin: 0 auto;

}

.header-menu {
    margin-top: 30px;
    

    .header-li {
        display: flex;
        justify-content: end;

        li {
          margin-left: 20px;
        }
    }
}

.content{
  width: 89%;
  margin: 0 auto;

}

.kv {
    .sp-img,
    .sp-text{
        display: none;
    }

    .kv-logo {
        position: absolute;
        top: 5px;
        left: 50px;
        z-index: 1;


    }

    .kv-img {
        position: relative;
        margin-top: 50px;

    }

    .kv-text {
        position: absolute;
        z-index: 1;
        bottom: 230px;
        right: 140px;



    }


}

.kv-p {
    margin-left: 50px;

}


@media screen and (max-width:767px) {
    .header-menu {
        display: none;
    }
    .content{
        width: 100%;

        .kv {
            .kv-logo{
                margin: 50px 150px;
            }

            .kv-img,
            .kv-text{
                display: none;
            }
    
            .sp-img,
            .sp-text{
                display: block;
                
            }

    
        }
    



    }


   

}