.body-wrap {
  width: 1152px;
  margin: 0 auto;
}

.sp-menu {
  display: none;
}

.header-menu {
  margin-top: 30px;
}
.header-menu .menu {
  display: flex;
  justify-content: end;
}
.header-menu .menu .menu-item {
  margin-left: 10px;
}

.content {
  width: 89%;
  margin: 0 auto;
}

.kv {
  position: relative;
}
.kv .sp-img,
.kv .sp-text {
  display: none;
}
.kv .kv-logo {
  position: absolute;
  top: -12%;
  left: -8%;
  z-index: 1;
}
.kv .kv-img {
  margin-top: 50px;
}
.kv .kv-text {
  position: absolute;
  z-index: 1;
  bottom: -12%;
  right: -3%;
}

.kv-p {
  margin-left: 50px;
}

.sp-p {
  display: none;
}

@media screen and (max-width: 767px) {
  .body-wrap {
    width: 100%;
  }
  .header-menu {
    display: none;
  }
  .content {
    width: 100%;
  }
  .content .sp-p {
    margin-top: 20px;
  }
  .content .kv {
    width: 100%;
    position: relative;
    z-index: -1;
  }
  .content .kv .kv-logo {
    position: static;
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 25px;
  }
  .content .kv .kv-img,
.content .kv .kv-text {
    display: none;
  }
  .content .kv .sp-img {
    width: 100%;
    height: 100%;
    display: block;
    position: static;
  }
  .content .kv .sp-text {
    display: block;
    position: absolute;
    width: 65%;
    z-index: 1;
    top: 200px;
  }
  .content .kv-p {
    display: none;
  }
  .content .sp-p {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .sp-menu {
    display: block;
    position: fixed;
    right: -100%;
    top: 195px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: white;
    opacity: 0.95;
    transition: 0.3s;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .sp-menu.open {
    right: 0;
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 90px;
    right: 10%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .hamburger .pate {
    position: relative;
    top: calc(50% - 2px);
  }
  .hamburger .pate::before, .hamburger .pate::after {
    position: absolute;
    content: "";
  }
  .hamburger .pate::before {
    top: -9px;
  }
  .hamburger .pate::after {
    top: 9px;
  }
  .hamburger .pate, .hamburger .pate::before, .hamburger .pate::after {
    width: 100%;
    height: 3px;
    display: block;
    background-color: black;
    border-radius: 2px;
    transition: all 0.5s ease;
  }
  #hamburger.open:checked + .hamburger .pate {
    background-color: transparent;
  }
  #hamburger.open:checked + .hamburger .pate::before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #hamburger.open:checked + .hamburger .pate::after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #hamburger.open:checked ~ .header-menu {
    right: 0;
  }
}
.articles-wrap h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 80px;
}
.articles-wrap .articles-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px auto 0 auto;
}
.articles-wrap .articles-content .post-wrap:hover {
  box-shadow: 0 0 20px 5px lightgray;
}
.articles-wrap .articles-content .post-wrap:hover .readmore::after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 65px;
  transform: translateX(-100%);
  transform: 15s;
  border-bottom: solid 1px black;
  animation: border_anim 0.6s linear forwards;
}
@keyframes border_anim {
  0% {
    width: 14px;
  }
  100% {
    width: 65px;
  }
}
.articles-wrap .articles-content .post-wrap img {
  width: 100%;
  height: auto;
}
.articles-wrap .articles-content .post-wrap .post-content {
  margin: 12px 16px;
  padding-bottom: 10px;
}
.articles-wrap .articles-content .post-wrap .post-content .post-title {
  font-size: 14px;
  height: 120px;
}
.articles-wrap .articles-content .post-wrap .post-content .post-title .post-text {
  margin-top: 15px;
}
.articles-wrap .articles-content .post-wrap .post-content .readmore {
  font-size: 8px;
  text-align: right;
  position: relative;
}
.articles-wrap .articles-content .post-wrap .post-content .readmore::after {
  content: "";
  display: block;
  width: 14px;
  border-bottom: solid 1px black;
  position: absolute;
  top: 25px;
  right: 0;
}

@media screen and (max-width: 767px) {
  .articles-wrap {
    width: 86%;
    margin: 0 auto;
  }
  .articles-wrap h1 {
    margin-top: 40px;
    font-size: 45px;
  }
  .articles-wrap .articles-content {
    display: block;
    grid-template-columns: none;
    gap: 0;
    margin-top: 20px;
  }
  .articles-wrap .articles-content .post-wrap {
    margin-bottom: 30px;
  }
  .articles-wrap .articles-content .post-wrap:hover .readmore::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 95px;
    transform: translateX(-100%);
    transform: 15s;
    border-bottom: solid 1px black;
    animation: border_anim 0.6s linear forwards;
  }
  @keyframes border_anim {
    0% {
      width: 14px;
    }
    100% {
      width: 95px;
    }
  }
  .articles-wrap .articles-content .post-wrap .post-content {
    padding-bottom: 25px;
  }
  .articles-wrap .articles-content .post-wrap .post-content .post-title {
    font-size: 20px;
    height: 250px;
    padding: 10px 12px;
  }
  .articles-wrap .articles-content .post-wrap .post-content .readmore {
    font-size: 15px;
  }
}
footer {
  width: 100vw;
  min-width: 1152px;
  font-size: 10px;
  color: white;
  background-color: black;
  margin-top: 100px;
  text-align: center;
  padding: 50px 0;
}

@media screen and (max-width: 767px) {
  footer {
    min-width: 0;
    max-width: 767px;
    font-size: 14px;
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */